[user]
	name = Bradley Jones
	email = bradjone@cisco.com
  signingkey = E5CAD663B8825B0E
[core]
  editor = vim
[push]
  default = simple
[gitreview]
  username = bradjones
[merge]
  tool = vimdiff
[rerere]
  enabled = true
[credential]
  helper = store
[url "git@github.com:"]
	insteadOf = https://github.com/
