[user]
	name = Bradley Jones
	email = bradley.jones@anchore.com
	signingkey = 3A0E7022EBADD1AA
[commit]
	gpgsign = true
[alias]
	c = commit -s -S
[merge]
	tool = vimdiff
[rerere]
  enabled = true
[credential]
  helper = store
[url "git@github.com:"]
  insteadOf = https://github.com/
